{% extends "base.html" %}
{% block content %}

<main class="px-3">
    <h1>Add your ontology</h1>
    <p class="lead">Generate a summary of the ontology</p>
    <form>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Ontology URL</label>
            <input type="url" class="form-control" id="exampleFormControlInput1" placeholder="http://ontology.path">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Ontology File</label>
            <input type="file" class="form-control" id="exampleFormControlInput2">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput3" class="form-label">Technique</label>

            <select class="form-select" aria-label="Default select example" id="exampleFormControlInput3">
                <option value="OntMet">OntMet (Ontology Metadata)</option>
                <option value="ClaFreq">ClaFreq (Class Frequency)</option>
                <option value="LabLen">LabLen (Labels Length)</option>
            </select>
        </div>

                <input type="submit" class="btn btn-light fw-bold border-white bg-white" value="Generate Summary"/>

    </form>
<!--    <p class="lead">-->
<!--        <a href="#" class="btn btn-light fw-bold border-white bg-white">Learn more</a>-->
<!--    </p>-->
</main>

{% endblock %}